body {
  background-color: rgb(219, 217, 217);
  /*background-image: url("bg.jpg");
  color: white;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;*/
  font-family: Garamond ; 
}

#page-wrapper {
  position: relative;
}

#Video-Ad {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }

 
 
 